/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
/* 
body{
  margin: auto;
} */

body {
  max-width: 1024px;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  margin: auto;
}

/* is same */
header,
main, 
#footer-line,
#footer-links {
  max-width: 626px;
  margin: auto;
  text-align: center;
}

h1, 
strong,
a {
  color: #3F3D56;
}

span, 
a {
  font-weight: 700;
}

/* specific */
main header img {
  margin: 40px auto 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}
h1 span {
  color: #EE24FF;
}

p {
  /* text-align: center; */
  padding: 0 16px;
  /* justify-content: center; */
}

footer {
  margin-top: 48px;
}

#footer-line {
  width: 391px;
  border: 1px solid #ECEFF2;
  margin-bottom: 16px;
}
#footer-wave {
  /* position: fixed; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 32px auto 0;
}